{{ define "index.tmpl" }}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node OAuth2 Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <a id="github" href="{{ .github_url }}">Login with GitHub</a></br>
        <a id="baidu" href="{{ .baidu_url }}">Login with Baidu</a>
    </body>
</html>
{{ end }}